.footer {
	grid-area: footer;
	align-self: center;
	justify-self: center;
}

.footer__content {
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: var(--grey-3);
}

@media (max-width: 768px) {
	.footer {
		display: none;
	}
}
