.skeleton {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border: 1px solid var(--grey-3);
	border-radius: 8px;
	padding: 24px 40px 24px 24px;
	grid-gap: 16px;
	max-width: 579px;
}
.skeleton__line {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	grid-gap: 8px;
	padding: 8px 0;
}
.skeleton__line__width100 {
	width: 100%;
}
.skeleton__line__width50 {
	width: 50%;
}
.skeleton__avatar {
	flex-basis: 64px;
	height: 64px;
	border-radius: 50%;
	background-color: var(--grey-2);
}
.skeleton__bar {
	height: 20px;
	background: linear-gradient(92.51deg, #dde2e5 6.44%, #e2e6e8 38.47%, #f3f5f5 56.48%, #e3e7ea 77.5%, #dde2e5 102.52%);
}
.skeleton__bar_width100 {
	width: 100%;
}
.skeleton__bar_width62 {
	width: 62%;
}
