.skeleton {
	display: flex;
	flex-direction: column;
	border: 1px solid var(--grey-3);
	border-radius: 8px;
	padding: 24px 40px 24px 24px;
	grid-gap: 16px;
	width: 579px;
	height: 194px;
}

.skeleton__line1 {
	display: flex;
	grid-gap: 16px;
	width: 100%;
	height: 50%;
}
.skeleton__line2 {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	grid-gap: 8px;
	width: 100%;
	height: 50%;
}
.skeleton__item1 {
	width: 12.5%;
	height: 100%;
	border-radius: 50%;
	background-color: var(--grey-2);
}

.skeleton__item2 {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	grid-gap: 8px;
	width: 50%;
}

.skeleton__bar1 {
	width: 62%;
}

.skeleton__bar2,
.skeleton__bar3,
.skeleton__bar4 {
	width: 100%;
}

.skeleton__bar1,
.skeleton__bar2,
.skeleton__bar3,
.skeleton__bar4 {
	height: 31.25%;
	background: linear-gradient(92.51deg, #dde2e5 6.44%, #e2e6e8 38.47%, #f3f5f5 56.48%, #e3e7ea 77.5%, #dde2e5 102.52%);
}
