.histogram {
	width: 100%;
	max-width: 300px;
	border: 1px solid var(--grey-3);
	box-sizing: border-box;
	border-radius: 8px;
	padding: 16px 24px 24px 24px;
	display: flex;
	flex-direction: column;
	grid-gap: 6px;
}

.histogram__title {
	height: 26px;
	display: flex;
	justify-content: space-between;
}

.histogram__title-text {
	font-family: "Inter";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: var(--black);
	opacity: 0.8;
	margin: 0;
}

.histogram__title-link {
	color: var(--blue);
	text-decoration: none;
}

.histogram__date {
	display: flex;
	align-items: flex-start;
}

.histogram__date-text {
	font-family: "Inter";
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 26px;
	color: var(--black);
	margin: 0;
}

.histogram__graph {
	height: 83px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	grid-gap: 1px;
	padding-top: 39px;
}

.histogram__progressbar {
	flex-basis: 9px;
	flex-grow: 1;
	background-color: var(--blue);
}
